.autoComplete_wrapper {
  display: inline-block;
  position: relative;
  width: 100%;
}

.autoComplete_wrapper > input {
  font-family: var(--lumo-font-family);
  height: 3rem;
  margin: 0;
  padding: 0 2rem 0 3.2rem;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: 500;
  text-overflow: ellipsis;
  color: rgba(24, 39, 57, 0.9);
  outline: none;
  border-radius: 4.5px;
  border: 2px solid rgb(68,68,68,0.6);
  background-image: url(./auto-complete-svg/search.svg);
  background-color: #f3f3f3;
  background-size: 1.4rem;
  background-position: left 1.05rem top 0.8rem;
  background-repeat: no-repeat;
  background-origin: border-box;
}

.autoComplete_wrapper > input:focus {
  border: 2px solid rgb(68,68,68,1);
}

.autoComplete_wrapper > input.search {
  background-image: url(./auto-complete-svg/search.svg);
}

.autoComplete_wrapper > input.wait {
  border: 2px solid rgba(45, 110, 171, 0.8);
  background-image: url(./auto-complete-svg/wait.svg);
  background-color: rgb(212, 227, 250);
}

.autoComplete_wrapper > input.success {
  background-image: url(./auto-complete-svg/success.svg);
  background-color:rgb(222, 250, 212);
}

.autoComplete_wrapper > input.failure {
  background-image: url(./auto-complete-svg/failure.svg);
  background-color: rgb(250, 212, 212);
}

.autoComplete_wrapper > input[disabled] {
  border: none;
}

.autoComplete_wrapper > input::placeholder {
  color: rgba(24, 39, 57, 0.33);
  font-weight: 200;
}

.autoComplete_wrapper > ul {
  position: absolute;
  overflow-y: scroll;
  box-sizing: border-box;
  left: 0;
  right: 0;
  bottom: 3rem;
  margin: 0.5rem 0 0 0;
  padding: 0;
  z-index: 1;
  list-style: none;
  border-radius: 0.6rem;
  background-color: #fff;
  border: 1px solid rgba(33, 33, 33, 0.07);
  box-shadow: 0 3px 6px rgba(149, 157, 165, 0.15);
  outline: none;
  transition: opacity 0.15s ease-in-out;
  -moz-transition: opacity 0.15s ease-in-out;
  -webkit-transition: opacity 0.15s ease-in-out;
}

.autoComplete_wrapper > ul[hidden],
.autoComplete_wrapper > ul:empty {
  display: block;
  opacity: 0;
  transform: scale(0);
}

.autoComplete_wrapper > ul > li {
  margin: 0.3rem;
  padding: 0.05rem 0.4rem;
  text-align: left;
  font-size: 1rem;
  color: #212121;
  border-radius: 0.35rem;
  background-color: rgba(255, 255, 255, 1);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.2s ease;
}

.autoComplete_wrapper > ul > li mark {
  background-color: transparent;
  color: rgba(80, 120, 200, 1);
  font-weight: bold;
}
