html {
 --vaadin-checkbox-label-font-size: var(--lumo-font-size-l);
 --vaadin-checkbox-size: 1.4em;
 --lumo-font-size-xxxl: 4em;
 --lumo-font-size-xxl: 3em;
 --lumo-font-size-xl: 2.2em;
 --color-gold: #FFD700;
 --color-silver: #D3D3D3;
 --color-bronze: #d1bb9e;
 --color-rust:  #993809;
}

.gold {
   background-color: var(--color-gold)
}

.silver {
   background-color: var(--color-silver)
}

.bronze {
   background-color: var(--color-bronze)
}

.rust {
  color: white;
  background-color: var(--color-rust)
}

vaadin-grid::part(gold) {
   background-color: var(--color-gold)
}

vaadin-grid::part(silver) {
   background-color: var(--color-silver)
}

vaadin-grid::part(bronze) {
   background-color: var(--color-bronze)
}

vaadin-grid::part(hidden) {
   display: none;
}

vaadin-grid::part(rust) {
  color: white;
  background-color: var(--color-rust)
}

.rust h4 {
  color: white;
}

.rust > h5 {
  color: white;
}

.pulse {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

.note1 {
  animation: note1 1.2s infinite;
}

.note2 {
  animation: note2 1.2s infinite;
}

.note3 {
  animation: note3 1.2s infinite;
}

.note4 {
  animation: note4 1.2s infinite;
}


.pseudo-radio > vaadin-button::part(prefix) {
  width: 100%;
  text-align: left;
}

.pseudo-radio > vaadin-radio-button[checked]::part(radio) {
    background-color: #ffffffaa;
}


@keyframes note1 {
  0% { transform: scale(1) translateY(0); }
  11.1% { transform: scale(1.2) translateY(-0.2em);}
  22.2% { transform: scale(1.2) translateY(-0.2em);}
  33.2% { transform: scale(1) translateY(0); }
}

@keyframes note2 {
  0% { transform: scale(1) translateY(-0.1em); }
  33.3% { transform: scale(1) translateY(-0.1em); }
  41.7% { transform: scale(1.2) translateY(-0.3em); }
  50% { transform: scale(1) translateY(-0.1em); }
  100% { transform: scale(1) translateY(-0.1em); }
}

@keyframes note3 {
  0% { transform: scale(1) translateY(0.1em); }
  50% { transform: scale(1) translateY(0.1em); }
  58.3% { transform: scale(1.2) translateY(-0.1em); }
  66.7% { transform: scale(1) translateY(0.1em); }
  100% { transform: scale(1) translateY(0.1em); }
}

@keyframes note4 {
  0% { transform: scale(1) translateY(0); }
  66.7% { transform: scale(1) translateY(0); }
  88.9% { transform: scale(1.2) translateY(-0.2em); }
  100% { transform: scale(1) translateY(0); }
}

vaadin-accordion-panel {
    padding-left: 1em;
}

